.AltNavBar {
	background-color: red;
	max-width: 100%!important;
	font-family: 'Porter';
	color: black!important;
}

.AltNavBar a {
	color: black;
}

.AltNavBar a:hover {
    color: white;
		text-decoration: none;
}

.AltNavBar .icon {
	font-size: 3.25rem;
}

.AltNavBar .btn {
	font-size: 1.5rem;
}


@media (max-width: 575px) {
  .socialIcons {
      display: none;
  }
}
