.AltNavBar {
	max-width: 100%;
	font-family: 'Porter';
}

.AltNavBar a {
	color: inherit;
}

.AltNavBar a:hover {
		text-decoration: none;
}

.AltNavBar i {
	font-size: 3.25rem;
}

.AltNavBar .btn {
	font-size: 1.5rem;
}

@media (max-width: 575px) {
  .socialIcons {
      display: none;
  }
}
