.AltNavBar {
	background-color: red;
	max-width: 100%!important;
	font-family: 'Porter';
	color: black!important;
}

.AltNavBar a {
	color: black;
}

.AltNavBar a:hover {
    color: white;
		text-decoration: none;
}

@media (max-width: 575px) {
  .socialIcons {
      display: none;
  }

	.AltNavBar h1 {
		color: black;
		font-size: 10vw;
	}
}
