.AltMenu {
	font-family: 'Nimbus';
}

.MenuSection {
	background-color: rgba(255, 0, 0, 0.8);
	padding-top: 16px;
	margin-top: 16px;
	color: white;
}

.MenuSection .row{
	margin-top: 32px;
}

.dogType {
	font-family: 'Nibus';
}

.MenuSection .container{
	max-width: 500px;
}

@media (min-width: 992px){
	.MenuSection{
		max-width: 800px !important;
	}
}
