.AltMenu {
	background-color: rgba(255, 0, 0, 0.8);
	padding-top: 16px;
	color: white;
}

.AltMenu .row{
	margin-top: 32px;
}

.dogType {
	font-family: 'Roboto';
}

.AltMenu .container{
	max-width: 500px;
}

@media (min-width: 992px){
	.AltMenu{
		max-width: 800px !important;
	}
}
