.Contact{
	background-color: rgba(255, 0, 0, 0.8);
	padding-top: 16px;
	color: white;
	padding-bottom: 160px;
}

.Contact h1{
	font-size: 3rem;
}

.mapBox{
  width: 80%;
  margin: auto;
}

.Contact a:hover{
	color: black;
	text-decoration: none;
}
