.Contact{
	background-color: rgba(255, 0, 0, 0.8);
	padding-top: 16px;
	color: white;
}

.Contact a{
	font-size: 4rem;
}

.mapBox{
  width: 80%;
  margin: auto;
}

@media (max-width: 768px){
	.Contact a{
		font-size: 7vw;
	}
}
