.Footer {
  height: 8vh;
  font-size: 1.75vh;
  font-weight: lighter;
  width: 100%;
  padding-top: 2vh;
}

.Footer a {
  color: inherit;
  font-size: inherit;
  margin-left: 10px;
}

/* Bootstrap Overrides */
