body, html {
  height: 100%;
}

@font-face {
    font-family: 'Porter';
    src: url('font/portt2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus';
    src: url('font/NimbusRomNo9T_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
