@font-face {
    font-family: 'Burner';
    src: url('font/NMFBurner-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'codygraff';
    src: url('font/codygraff.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
