.Router{
	min-height: 75vh;
	background-color: #AFAF78;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 7.5vh;
	padding-bottom: 7.5vh;
	font-family: 'Nimbus';
	color: white;
}

.Router a {
	color: white;
}

.Router a:hover{
	color: black;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
		height: 0px;  /* remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}

@media (max-width: 576px){
	.Router {
		background-image: url('../../img/mobilebackground.jpg');
	}
}

@media (min-width: 577px){
	.Router {
		background-image: url('../../img/postmates.jpg');
	}
}
