.Router{
	min-height: 75vh;
	background-color: #AFAF78;
	background-image: url('../../img/postmates.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 48px;
	font-family: 'Nimbus';
}

.Router a {
	color: white;
}

.Router a:hover{
	color: black;
}

@media (max-width: 576){
	.Router {
		background-image: url('../../img/mobilebackground.jpg');
	}
}
